In [2]:
import pandas as pd

In [28]:
data = pd.read_csv('../raw_data/master_clauses.csv', on_bad_lines='skip')

In [4]:
data.shape

(272, 83)

In [5]:
data.columns

Index(['Filename', 'Document Name', 'Document Name-Answer', 'Parties',
       'Parties-Answer', 'Agreement Date', 'Agreement Date-Answer',
       'Effective Date', 'Effective Date-Answer', 'Expiration Date',
       'Expiration Date-Answer', 'Renewal Term', 'Renewal Term-Answer',
       'Notice Period To Terminate Renewal',
       'Notice Period To Terminate Renewal- Answer', 'Governing Law',
       'Governing Law-Answer', 'Most Favored Nation',
       'Most Favored Nation-Answer', 'Competitive Restriction Exception',
       'Competitive Restriction Exception-Answer', 'Non-Compete',
       'Non-Compete-Answer', 'Exclusivity', 'Exclusivity-Answer',
       'No-Solicit Of Customers', 'No-Solicit Of Customers-Answer',
       'No-Solicit Of Employees', 'No-Solicit Of Employees-Answer',
       'Non-Disparagement', 'Non-Disparagement-Answer',
       'Termination For Convenience', 'Termination For Convenience-Answer',
       'Rofr/Rofo/Rofn', 'Rofr/Rofo/Rofn-Answer', 'Change Of Control',
       'Change Of Control-Answer', 'Anti-Assignment', 'Anti-Assignment-Answer',
       'Revenue/Profit Sharing', 'Revenue/Profit Sharing-Answer',
       'Price Restrictions', 'Price Restrictions-Answer', 'Minimum Commitment',
       'Minimum Commitment-Answer', 'Volume Restriction',
       'Volume Restriction-Answer', 'Ip Ownership Assignment',
       'Ip Ownership Assignment-Answer', 'Joint Ip Ownership',
       'Joint Ip Ownership-Answer', 'License Grant', 'License Grant-Answer',
       'Non-Transferable License', 'Non-Transferable License-Answer',
       'Affiliate License-Licensor', 'Affiliate License-Licensor-Answer',
       'Affiliate License-Licensee', 'Affiliate License-Licensee-Answer',
       'Unlimited/All-You-Can-Eat-License',
       'Unlimited/All-You-Can-Eat-License-Answer',
       'Irrevocable Or Perpetual License',
       'Irrevocable Or Perpetual License-Answer', 'Source Code Escrow',
       'Source Code Escrow-Answer', 'Post-Termination Services',
       'Post-Termination Services-Answer', 'Audit Rights',
       'Audit Rights-Answer', 'Uncapped Liability',
       'Uncapped Liability-Answer', 'Cap On Liability',
       'Cap On Liability-Answer', 'Liquidated Damages',
       'Liquidated Damages-Answer', 'Warranty Duration',
       'Warranty Duration-Answer', 'Insurance', 'Insurance-Answer',
       'Covenant Not To Sue', 'Covenant Not To Sue-Answer',
       'Third Party Beneficiary',
       'Third Party Beneficiary-Answer;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;'],
      dtype='object')

In [6]:
data.iloc[0]

Filename                                                                                                                               sell
Document Name                                                                              lease or otherwise transfer in whole or in pa...
Document Name-Answer                                                                                                                    Yes
Parties                                                                                                                                  []
Parties-Answer                                                                                                                           No
                                                                                                                ...
Insurance-Answer                                                                                                                         No
Covenant Not To Sue                                                                                                                      []
Covenant Not To Sue-Answer                                                                                                               No
Third Party Beneficiary                                                                                                                  []
Third Party Beneficiary-Answer;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;    No";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;...
Name: (CybergyHoldingsInc_20140520_10-Q_EX-10.27_8605784_EX-10.27_Affiliate Agreement.pdf,['MARKETING AFFILIATE AGREEMENT'],MARKETING AFFILIATE AGREEMENT,"['BIRCH FIRST GLOBAL INVESTMENTS INC.', 'MA', 'Marketing Affiliate', 'MOUNT KNOWLEDGE HOLDINGS INC.', 'Company']","Birch First Global Investments Inc. (""Company"");" Mount Kowledge Holdings Inc. (""""Marketing Affiliate"""",  """"MA"""")"", ['8th day of May 2014',  'May 8,  2014']"", 5/8/14, ['This agreement shall begin upon the date of its execution by MA and acceptance in writing by Company'], nan, ['This agreement shall begin upon the date of its execution by MA and acceptance in writing by Company and shall remain in effect until the end of the current calendar year and shall be automatically renewed for successive one (1) year periods unless otherwise terminated according to the cancellation or termination provisions contained in paragraph 18 of this Agreement.'], 12/31/14, ['This agreement shall begin upon the date of its execution by MA and acceptance in writing by Company and shall remain in effect until the end of the current calendar year and shall be automatically renewed for successive one (1) year periods unless otherwise terminated according to the cancellation or termination provisions contained in paragraph 18 of this Agreement.'], successive 1 year, ['This Agreement may be terminated by either party at the expiration of its term or any renewal term upon thirty (30) days written notice to the other party.'], 30 days, ['This Agreement is accepted by Company in the State of Nevada and shall be governed by and construed in accordance with the laws thereof,  which laws shall prevail in the event of any conflict.']"", Nevada, [], No, [], No, [], No, [], No, [], No, [], No, ['Company shall not specify the business practices of MA,  nor regulate the manner in which MA shall operate its business,  provided that MA (a) conducts business in a manner that reflects favorably at all times on the Technology sold and the good name,  goodwill and reputation of Company and its affiliates<omitted>']"", Yes, [], No, [], No, [], No, ['MA may not assign), Length: 83, dtype: object

In [7]:
test = pd.DataFrame([1, 2], [1, 2]).reset_index()
test

   index  0
0      1  1
1      2  2

In [8]:
test.shape

(2, 2)

In [9]:
test.loc[:, 'index']

0    1
1    2
Name: index, dtype: int64

In [10]:
data.reset_index(inplace=True)

In [11]:
data.loc[:0, 'Filename']

0     sell
Name: Filename, dtype: object

In [12]:
data.iloc[0]

level_0                                                                                   CybergyHoldingsInc_20140520_10-Q_EX-10.27_8605...
level_1                                                                                                                       """"MA"""")""
level_2                                                                                                              ['8th day of May 2014'
level_3                                                                                                                              'May 8
level_4                                                                                                                            2014']""
                                                                                                                ...
Insurance-Answer                                                                                                                         No
Covenant Not To Sue                                                                                                                      []
Covenant Not To Sue-Answer                                                                                                               No
Third Party Beneficiary                                                                                                                  []
Third Party Beneficiary-Answer;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;    No";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;...
Name: 0, Length: 124, dtype: object

In [13]:
data.loc[8, 'Parties-Answer']

' transfer or assign this Agreement or any part'

In [18]:
gov_law = pd.read_excel('../raw_governing_law.xlsx')

In [29]:
dates = pd.read_excel('../raw_data/dates.xlsx')

In [20]:
dates.shape

(501, 11)

In [22]:
dates.loc[:, dates.columns[:3]]

,Filename,Agreement Date,Agreement Date-Answer
0,CybergyHoldingsInc_20140520_10-Q_EX-10.27_8605...,"May 8, 2014 (Page 1)\n\n8th day of May 2014 (P...",2014-05-08 00:00:00
1,EuromediaHoldingsCorp_20070215_10SB12G_EX-10.B...,"July 11 , 2006 (Page 1)",2006-07-11 00:00:00
2,FulucaiProductionsLtd_20131223_10-Q_EX-10.9_83...,"November 15, 2012 (Page 2)",2012-11-15 00:00:00
3,GopageCorp_20140221_10-K_EX-10.1_8432966_EX-10...,"Feb 10, 2014 (Page 1)",2014-02-10 00:00:00
4,IdeanomicsInc_20160330_10-K_EX-10.26_9512211_E...,"December 21, 2015 (Page 1)",2015-12-21 00:00:00
...,...,...,...
496,NEONSYSTEMSINC_03_01_1999-EX-10.5-DISTRIBUTOR ...,"1st day of January, 1999 (Page 1)",1999-01-01 00:00:00
497,NEONSYSTEMSINC_03_01_1999-EX-10.5-DISTRIBUTOR ...,"1st day of January, 1996 (Page 1)",1996-01-01 00:00:00
498,WOMENSGOLFUNLIMITEDINC_03_29_2000-EX-10.13-END...,"13th day of October, 1999 (Page 1)",1999-10-13 00:00:00
499,"KUBIENT,INC_07_02_2020-EX-10.14-MASTER SERVICE...",the 26th day of March 2020 (Page 1),2020-03-26 00:00:00
500,"KUBIENT,INC_07_02_2020-EX-10.14-MASTER SERVICE...","the 5th day of February, 2020 (Page 1)",2020-02-05 00:00:00

In [24]:
dates.loc[:, dates.columns[3:5]]

                                        Effective Date Effective Date-Answer
0    This agreement shall begin upon the date of it...                   NaN
1                              July 11 , 2006 (Page 1)   2006-07-11 00:00:00
2                           November 15, 2012 (Page 2)   2012-11-15 00:00:00
3                                Feb 10, 2014 (Page 1)   2014-02-10 00:00:00
4                           December 21, 2015 (Page 1)   2015-12-21 00:00:00
..                                                 ...                   ...
496                                                NaN                   NaN
497                                                NaN                   NaN
498  The term of this Agreement shall begin on Janu...   2000-01-01 00:00:00
499                          February 5, 2020 (Page 1)   2020-02-05 00:00:00
500             the 5th day of February, 2020 (Page 1)                   NaN

[501 rows x 2 columns]

In [25]:
dates.loc[:, dates.columns[5:7]]

                                       Expiration Date Expiration Date-Answer
0    This agreement shall begin upon the date of it...    2014-12-31 00:00:00
1    The term of this Agreement (the “Initial Term”...    2010-06-30 00:00:00
2                                                  NaN                    NaN
3    The initial term of this Agreement commences a...    2019-02-10 00:00:00
4    The Term of this Agreement (the “Term”) shall ...    1935-12-21 00:00:00
..                                                 ...                    ...
496  This Agreement shall be effective           th...    2004-03-31 00:00:00
497  This Agreement shall be effective until the ea...    1998-01-01 00:00:00
498  The term of this Agreement shall begin on Janu...    2004-12-31 00:00:00
499                                                NaN                    NaN
500  The initial term of this Agreement shall be on...    2021-02-05 00:00:00

[501 rows x 2 columns]

In [26]:
dates.loc[:, dates.columns[7:9]]

                                          Renewal Term    Renewal Term-Answer
0    This agreement shall begin upon the date of it...      successive 1 year
1    At Rogers’ option, this Agreement shall renew ...                2 years
2    License Term Perpetual, unlimited runs x Other...  perpetual, 11/15/2014
3    Thereafter, this Agreement shall renew automat...                3 years
4                                                  NaN                    NaN
..                                                 ...                    ...
496  Upon the expiration           of such term, th...      successive 1 year
497  This Agreement shall be effective until the ea...      successive 1 year
498  The Company may renew this Agreement on the sa...                 5 year
499                                                NaN                    NaN
500  This Agreement will automatically renew for ad...      successive 1 year

[501 rows x 2 columns]

In [27]:
dates.loc[:, dates.columns[9:11]]

,Notice Period to Terminate Renewal,Notice Period to Terminate Renewal- Answer
0,This Agreement may be terminated by either par...,30 days
1,"Notwithstanding the foregoing, if, at the expi...",60 days
2,NaN,NaN
3,"Thereafter, this Agreement shall renew automat...",90 days
4,NaN,NaN
...,...,...
496,"Upon the expiration of such term, th...",60 days
497,This Agreement shall be effective until the ea...,60 days
498,NaN,NaN
499,NaN,NaN
500,NaN,NaN